<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
          width="100%">
    <thead>
      <tr>
        <th scope="col">Users</th>
        <th scope="col">Total Devices </th>
        <th scope="col">Devices Per User</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
        <td>c}</td>
        <td>b</td>
        <td>a}</td>
        <td><button type="submit" class="btn btn-primary mb-2">Terminar</button></td>

    </tbody>
  </table>
</div>
