<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
          width="100%">
    <thead>
      <tr>
        <th scope="col">Cantidad de clientes</th>
        <th scope="col">Total de dispositivos activos</th>
        <th scope="col">Promedio de dispositivos por usuario</th>
      </tr>
    </thead>
    <tbody>
        <td>{{devicesPerUser.amountClients}}</td>
        <td>{{devicesPerUser.amountDevices}}</td>
        <td>{{devicesPerUser.amountDevicesPerUser}}</td>
    </tbody>
  </table>
</div>
