<div class="overflow-auto">
  <input type="file" (change)="onFileChange($event)" multiple ="false"/>
  <button type="submit" class="btn btn-primary mb-2"(click)="uploadDocs()">Subir a la base</button>

  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
         width="100%">
    <thead>
      <tr>
        <th scope="col">Columnas del Servidor</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
      </tr>
    </thead>
    <tbody>
  </table>

  <h5>Las tablas que aparecen en la tabla de abajo deben matchear con las tablas del servidor para que no de error</h5>
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
         width="100%">
    <thead>
      <tr>
        <th scope="col">Columnas del excelsheet</th>
        <th scope="col">C</th>
        <th scope="col">D</th>
        <th scope="col">b</th>
        <th scope="col">a</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
    <td>Dato del exce sheet</td>
    <td>Dato del exce sheet</td>
    <td>Dato del exce sheet</td>
    <td>Dato del exce sheet</td>
    <td><button type="submit" class="btn btn-primary mb-2">Remover</button></td>

    </tbody>
  </table>
</div>

