<body class="text-center" xmlns="http://www.w3.org/1999/html">
<div class="container">

  <div class="row">
    <main class="form-DeviceType">
      <form>
        <h1 class="h3 mb-3 fw-normal">Create new</h1>

        <label for="NSerie" class="visually-hidden">NSerie</label>
        <input id="NSerie" class="form-control" placeholder="Numero de serie" #serialNumber>

        <select name="miselect" #deviceType class="caja" >
          <option value="" selected disabled hidden>Tipo de dispositivo</option>
          <option [value]=deviceType.name *ngFor="let deviceType of deviceTypes">{{deviceType.name}} </option>
        </select>

        <label for="electricUsage" class="visually-hidden">Uso electrico por minuto</label>
        <input id="electricUsage" class="form-control" placeholder="Uso electrico" #electricUsage>

        <label for="brand" class="visually-hidden">Marca</label>
        <input id="brand" class="form-control" placeholder="Marca" #brand>

        <label for="price" class="visually-hidden">Precio</label>
        <input id="price" class="form-control" placeholder="Precio en dolares" #price>

        <!--Upload data to loging with this button -->
        <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!"
        (click)="addDevice(serialNumber.value, brand.value, electricUsage.value, price.value, deviceType.value)">Create</button>
        <a>-or-</a>
        <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Clear</button>
      </form>
    </main>
  </div>
  <div class="b-example-divider"></div>

  <div class="row g-5 py-5">
    <div class="col-md-4 d-flex align-items-start" *ngFor="let device of devices; let i = index">
      <main class="form-DeviceTypeCreated" *ngIf="device.client_email === ''">
        <form>
          <h1 class="h3 mb-3 fw-normal" #serialNumber>{{device.serial_number}}</h1>

          <label for="deviceType">Tipo de dispositivo</label>
          <select #deviceType id="deviceType" class="caja">
            <option [value]="device.device_type_name" selected disabled hidden>{{device.device_type_name}}</option>
            <option [value]="deviceType.name" *ngFor="let deviceType of deviceTypes">{{deviceType.name}}</option>
          </select>

          <label for="electricUsage">Uso eléctrico</label>
          <input id="electricUsage" class="form-control" value="{{device.electric_usage}}" #electricUsage>

          <label for="brand">Marca</label>
          <input id="brand" class="form-control" value="{{device.brand}}" #brand>

          <label for="price">Precio</label>
          <input id="price" class="form-control" value="{{device.price}}" #price>

          <!--Upload data to loging with this button -->
          <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!"
          (click)="updateDevice(serialNumber.textContent, brand.value, electricUsage.value, price.value, deviceType.value)">Edit
          </button>
          <a>-or-</a>
          <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!"
          (click)="deleteDevice(serialNumber.textContent, i)">Delete</button>
        </form>
      </main>
    </div>
  </div>
</div>
</body>




