<body class="text-center">
  <main class="form-DeviceType">
    <form>
      <h1 class="h3 mb-3 fw-normal">Create new</h1>

      <label for="inputName" class="visually-hidden">Name</label>
      <input id="inputName" class="form-control" placeholder="Name">

      <label for="Type" class="visually-hidden">Tipo</label>
      <input id="Type" class="form-control" placeholder="Type">

      <label for="NSerie" class="visually-hidden">NSerie</label>
      <input id="NSerie" class="form-control" placeholder="Serial Number">

      <label for="Marca" class="visually-hidden">marca</label>
      <input id="Marca" class="form-control" placeholder="Brand">

      <label for="user" class="visually-hidden">User</label>
      <input id="user" class="form-control" placeholder="User">

      <!--Upload data to loging with this button -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Create</button>
      <a>-or-</a>
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Clear</button>
    </form>
  </main>

  <!-- FOR con uno extra-->

  <main class="form-DeviceType">
    <form>
      <h1 class="h3 mb-3 fw-normal">Create new</h1>

      <label for="inputName" class="visually-hidden">Name</label>
      <input id="inputName" class="form-control" placeholder="Name">

      <label for="Type" class="visually-hidden">Tipo</label>
      <input id="Type" class="form-control" placeholder="Type">

      <label for="NSerie" class="visually-hidden">NSerie</label>
      <input id="NSerie" class="form-control" placeholder="Serial Number">

      <label for="Marca" class="visually-hidden">marca</label>
      <input id="Marca" class="form-control" placeholder="Brand">

      <label for="user" class="visually-hidden">User</label>
      <input id="user" class="form-control" placeholder="User">

      <!--Upload data to loging with this button -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Edit</button>
      <a>-or-</a>
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Delete</button>
    </form>
  </main>
</body>
