<body class="text-center">

  <main class="form-DeviceType">
    <form>
      <h1 class="h3 mb-3 fw-normal">Create new</h1>

      <label for="inputName" class="visually-hidden">Name</label>
      <input id="inputName" class="form-control" placeholder="Name">

      <label for="Description" class="visually-hidden">Description</label>
      <input id="Description" class="form-control" placeholder="Description">

      <label for="Garantia" class="visually-hidden">Garantia</label>
      <input id="Garantia" class="form-control" placeholder="{{deviceTypes[0].name}}">

      <!--Upload data to loging with this button -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Create</button>
      <a>-or-</a>
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Clear</button>
    </form>
  </main>

  <!-- FOR con uno extra-->
  <main class="form-DeviceType">
    <form>
      <h1 class="h3 mb-3 fw-normal">Created One</h1>

      <label for="inputName" class="visually-hidden">Name</label>
      <input id="inputName" class="form-control" placeholder="Name">

      <label for="Description" class="visually-hidden">Description</label>
      <input id="Description" class="form-control" placeholder="Description">

      <label for="Garantia" class="visually-hidden">Garantia</label>
      <input id="Garantia" class="form-control" placeholder="Garantia">

      <!--Upload data to loging with this button -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Edit</button>
      <a>-or-</a>
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Delete</button>
    </form>
  </main>

</body>
