<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar">
      <a class="navbar-brand" href="#">SmartHome</a>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="this.usersService.isLogged || isReg">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickBack()">Go Back</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="!isReg && !this.usersService.isLogged">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickReg()">Register</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickAdmin()">Admin</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickClient()">Client</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="(this.usersService.isAdmin && this.usersService.isLogged);
      else elseClient">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickDeviceManager()">{{isDeviceType? "Hide DeviceType":"DeviceType"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickDevices()">{{isDevices? "Hide Devices":"Devices"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickSeeDevs()">{{isActiveDevices? "Hide Devices Per User":"Active Devices Per User"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickUsageDevices()">{{isUsageDevices? "Hide Total Devices":"Total Devices"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickUploadDoc()">{{isUploadDoc? "Hide Excel Tab":"Excel Table"}}</a>
        </li>
      </ul>

      <ng-template #elseClient>
        <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="this.usersService.isLogged">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="clickProfEdit()">{{isEditProf? "Hide Edit Profile":"EditProfile"}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="clickShop()">{{isShop? "Hide Shop":"Shop"}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="clickReports()">{{isReport? "Hide Report":"Report"}}</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav>

<app-login *ngIf="!this.usersService.isLogged && !isReg"></app-login>
<app-register-component *ngIf="isReg"></app-register-component>

<!-- Client Tabs-->
<app-edit-profile *ngIf="isEditProf"></app-edit-profile>
<app-shop *ngIf="isShop"></app-shop>
<app-reports *ngIf="isReport"></app-reports>

<!-- Admin Tabs-->
<app-device-maganer *ngIf="isDeviceType"></app-device-maganer>
<app-devices *ngIf="isDevices"></app-devices>
<app-device-table *ngIf="isActiveDevices"></app-device-table>
<app-uploadpage *ngIf="isUploadDoc"></app-uploadpage>
<app-usage-table *ngIf="isUsageDevices"></app-usage-table>
