<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar">
      <a class="navbar-brand" href="#">SmartHome</a>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickADMN()">{{isAdmin? "Admin In":"not Admin"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickLog()">{{notLogged? "Log Out":"Log In"}}</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="notLogged===false">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickReg()">{{notReg? "Hide Register":"Register"}}</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="(isAdmin && notLogged); else elseClient">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickDeviceManager()">{{notDeviceType? "Hide DeviceType":"DeviceType"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickDevices()">{{notDevices? "Hide Devices":"Devices"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickSeeDevs()">{{ActiveDevices? "Hide Active Devices":"Active Devices"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickUsageDevices()">{{UsageDevices? "Hide Total Devices":"Total Devices"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickUploadDoc()">{{UploadDoc? "Hide Excel Tab":"Excel Table"}}</a>
        </li>
      </ul>

      <ng-template #elseClient>
        <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf=" notLogged;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="clickProfEdit()">{{notEditProf? "Hide Edit Profile":"EditProfile"}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="clickShop()">{{notShop? "Hide Shop":"Shop"}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="clickReports()">{{notReport? "Hide Report":"Report"}}</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav>


<loginScreen *ngIf="notLogged===false; else elseBlock"></loginScreen>
<ng-template #elseBlock></ng-template>

<app-register-component *ngIf="notReg; else elseReg"></app-register-component>
<ng-template #elseReg></ng-template>

<!-- Client Tabs-->

<app-edit-profile *ngIf="notEditProf; else elseEditProf"></app-edit-profile>
<ng-template #elseEditProf></ng-template>

<app-shop *ngIf="notShop; else elseShop"></app-shop>
<ng-template #elseShop></ng-template>

<app-reports *ngIf="notReport; else elseReport"></app-reports>
<ng-template #elseReport></ng-template>

<!-- Admin Tabs-->

<app-device-maganer *ngIf="notDeviceType; else elseNotType"></app-device-maganer>
<ng-template #elseNotType></ng-template>

<app-devices *ngIf="notDevices; else elseNotDevice"></app-devices>
<ng-template #elseNotDevice></ng-template>

<app-device-table *ngIf="ActiveDevices; else elseActiveDevices"></app-device-table>
<ng-template #elseActiveDevices></ng-template>

<app-uploadpage *ngIf="UploadDoc; else elseUploadDoc"></app-uploadpage>
<ng-template #elseUploadDoc></ng-template>

<app-usage-table *ngIf="UsageDevices; else elseUsageDevices"></app-usage-table>
<ng-template #elseUsageDevices></ng-template>

<app-messages></app-messages>
