<body class="text-center">

  <main class="form-signin">
    <form>
      <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
      <h1 class="h3 mb-3 fw-normal">Edit profile</h1>


      <a>Update Personal Data</a>
      <label for="inputName" class="visually-hidden">Name</label>
      <input id="inputName" class="form-control" placeholder="Name">

      <label for="inputLastName" class="visually-hidden">LastName</label>
      <input id="inputLastName" class="form-control" placeholder="First Lastnamet">

      <label for="inputSLastName" class="visually-hidden">SLastName</label>
      <input id="inputSLastName" class="form-control" placeholder="Second Lastname">

      <label for="inputDireccion" class="visually-hidden">Direccion</label>
      <input id="inputDireccion" class="form-control" placeholder="Direccion de entrega">

      <a>Changing Region</a>

      <label for="inputContinet" class="visually-hidden">Continente</label>
      <input id="inputContinet" class="form-control" placeholder="Continente">

      <label for="inputCountry" class="visually-hidden">Direccion</label>
      <input id="inputCountry" class="form-control" placeholder="Country">

      <a>New Password:</a>

      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password">
      <h6>Your email cannot be changed</h6>
      <!--Upload data to loging with this button -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">Save Changes</button>
    </form>
  </main>

</body>
